.click_button {
    height: 42px;
    width: 42px;
    border-radius: 24px;
    background-color: black;
    cursor: pointer;
}

/* Make each piece square - 32x32, set the border-radius to 16px (so that it appears round) and center it using margin-left
and margin-right: auto */
.piece {
    height: 32px;
    width: 32px;
    display:block;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Player 0 (no player) will have a light-grey background */
.player0 {
    background-color: #DDDDDD; /* hex colors were used, but rgb/rgba could be used as well */
}

/* player 1 will have a red background */
.player1 {
    background-color: indigo;
}

/* player 2 will have a blue background */
.player2 {
    background-color: sienna;	
}

/* set the board square to having a dark-grey border, and to be 36x36 square */
.board_square {
    border: 1px solid #555555;
    height: 36px;
    width: 36px;
}
